*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .Login button{
    background-color: red;
    color: #fff;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 2px;
    padding: 3px 6px;
    margin:10px 80%;
    transition: 0.5;
}
.Login button:hover{
    background-color: #333;
}
.Login p{
    font-size: 0.8rem;
    max-width: 500px;

} */
.banner{
    background-image: url(banner.jpg);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 90vh;
}
.banner .bannerheadings .title{
    padding: 10% 5%;
}
.title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size:5vh;
    padding: 5px 10px;
    color:#fff;
}
.title p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    padding: 25px 10px;
    font-size: 8vh;
    color: #fff;
}
.bannerbuttons .siva{
    background-color:orange;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    padding:10px 15px ;
    margin: 45px 2%;
    border-radius: 2px;
    border: none;
    transition: 0.3;
}
.bannerbuttons .siva:hover{
    background-color: #111;
}
.bannerbuttons .sai{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size:5vh;
    border: none;
    transition: 0.3;
    border-radius: 2px;
    padding: 10px 15px;
    color: #fff;
}
.bannerbuttons .sai:hover{
    background-color: #111;
}
.banner img{
    height: 50px;
    width: 80px;
    padding: 0;
    margin:0px 10px;
}
